html, body {
  height: 100%;
  margin: 0 auto;
  overflow: auto;
}

* {
  font-family: Roboto
}

/******************************************************
navigation
********************************************************/
body {
 margin: 0;
 padding: 0;
}

nav {
  overflow: auto;
  width: 100%;
  background-color: rgb(107, 107, 240);
  padding: 20px 0;

}

.logo {
    width: 4.688em;
    height: 4.688em;
    border-radius: 4.688em;
    float: left;
    margin-left: 30px;
}

nav h2 {
  float: left;
  margin-left: 15px;
  color: white;
  font-weight: bold;

}

.float-nav {
  float: right;
  margin-top: 13px;
}

.float-nav a {
  text-align: center;
  min-width: 53px;
  font-size: 20px;
  text-decoration: none;
  padding: 10px 20px;
  border: 5px solid white;
  color: white;
  border-radius: 7px;
  display: inline-block;
  margin-right: 10px;
}

/******************************************************
Side Buttons
********************************************************/
  .side-nav {
    width: 8%;
    background-color: rgb(227, 233, 239);
    height: 100%;
    display: block;
  }
  .side-nav a {
    font-size: 50px;
    text-align: center;
    /*background-color: white;*/
    width: 8%;
    position: fixed;
    top: 150px;
    text-decoration: none;
    padding: 200px 0;
    color: white;
  }

  .left{
    float: left;

  }

  .left a {
    left: 0;
  }

  .right{
    float:right;
  }

  .right a {
    right: 14px;
  }

/******************************************************
main content
********************************************************/


main {
  width: 80%;
  margin: 0 auto;
}



/******************************************************
Footer
********************************************************/
footer {
  font-size: .75em;
  background-color:  rgba(66, 62, 228, 0.58);
  text-align: center;
  padding: 15px 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  color: white;
  font-weight: 200;
  left: 0;
}

/******************************************************
Hover Effects
********************************************************/

.float-nav a:hover{
  background-color: #2bde73;
}

.side-nav a:hover {
   color: black;
   font-weight: bold;
}